<div id="<%= dom_id news %>">
  <p>
    <strong>Tittle:</strong>
    <%= news.tittle %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= news.content %>
  </p>

<p>
  <strong>User:</strong>
  <% if user_signed_in? %>
    <%= news.user.email %>
  <% else %>
    Please sign in to view the user.
  <% end %>
</p>
</div>
